@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,900");

#link-collector-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 999999;
}

#link-collector-modal-content {
    background-color: #fafafa;
    padding: 30px;
    border: 1px solid #888;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 20px 25px 1px rgba(0, 0, 0, 0.07);
    text-align: left;
    font-size: 18px;
}

@media only screen and (max-width: 1400px) {
    #link-collector-modal-content {
        width: 50%;
    }
}

#link-collector-modal-content,
#link-collector-modal-content h1,
#link-collector-modal-content span,
#link-collector-modal-content p,
#link-collector-modal-content button,
#link-collector-modal-content input,
#link-collector-modal-content label {
    color: #666 !important;
    font-family: "Roboto", Helvetica, sans-serif !important;
    font-weight: 700 !important;
}

#link-collector-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#link-collector-modal-header h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 1.3;
    display: inline-block;
    position: relative;
}

#link-collector-modal-header h1::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #666;
    border-radius: 2px;
}

#link-collector-modal-close {
    margin: 0;
    padding: 0;
    font-size: 2em;
    cursor: pointer;
}

#link-collector-modal-form {
    padding: 20px 10px;
}

.link-collector-modal-form-group {
     display: flex;
     flex-direction: column;
     margin: 10px 0;
}

.link-collector-modal-form-group label,
.link-collector-modal-form-group input {
    margin: 5px 2px;
    font-size: 18px;
}

.link-collector-modal-form-group input {
    padding: 6px 10px;
    border: solid 2px #b5c5ff;
    font-size: 16px;
    outline: none;
}

.link-collector-modal-form-group input::placeholder {
    color: #aaa;
}

.link-collector-modal-form-group input:focus {
    outline: none;
}

.link-collector-modal-button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#link-collector-modal-button,
#link-collector-modal-button:active,
#link-collector-modal-button:hover,
#link-collector-modal-button:focus {
    margin: auto;
    padding: 5px 10px;
    font-size: 20px;
    border: solid 2px #b5c5ff;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}

.link-collector-modal-full-wrapper {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    display: none;
    border-radius: 10px;
}

#link-collector-modal-loader {
    color: #666666;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}